* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Main Container */
.home-container {
  height: 100vh;
  background-color: #d24b4b;
}

/* Header */
.header {
  height: 60px;
  background-color: #c63b3b;
  padding: 15px;
}

.header h2 {
  color: black;
  margin: 0;
}

/* Layout */
.main-layout {
  display: flex;
  height: calc(100vh - 60px);
}

/* Left Panel */
.left-panel {
  width: 180px;
  background-color: #d24b4b;
  padding: 20px;
  border-right: 2px solid #aaa;
}

.profile-box {
  width: 100%;
  height: 180px;
  background-color: #f2b6d9;
  border-radius: 12px;
}

/* Content Area */
.content-area {
  flex: 1;
  padding: 20px;
}

/* Top Buttons */
.top-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  width: 140px;
  height: 35px;
  background-color: #e6cfcf;
  border-radius: 10px;
  color: #1b0000;
}
.btn:hover {
  background-color: #d4bcbc;
  cursor: pointer;
}
/* Main Display */
.display-area {
  position: relative;
  height: 260px;
  background-color: #1b0000;
  border-radius: 12px;
}

/* Scroll bar look */
.scroll-bar {
  position: absolute;
  right: 8px;
  top: 20px;
  width: 10px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
